<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulkcy</title>
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="">
                    <img src="../static/img/logo.png" alt="logo">
                    <h2>Bulkcy</h2>
                </a>
            </div>
            <nav class="header__nav">
                <ul class="nav__listed">
                    <li><a href="#">home</a></li>
                    <li><a href="#features">features</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
                <ul class="vibrant__call">
                    <li><a href="">Get Started</a></li>
                </ul>
            </nav>

            <nav class="mobile__nav">
                <div class="close__mob">
                    <i class="jam jam-close"></i>
                </div>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#features">features</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
                <ul class="call">
                    <li><a href="">Get Started</a></li>
                </ul>
            </nav>
            <div class="mobile_toggle">
                <i class="jam jam-menu"></i>
            </div>
        </header>
        <main>
            <section class="welcome">
                <div class="welcome-main">
                    <div class="business__content" aria-label="business_synopsis">
                        <h1 id="business_synopsis">Easily Manage and send bulk emails</h1>
                        <p>Use Bulkcy to easily manage, schedule, and send bulk emails. Bulkcy provides you with rich
                            tools to organize and send bulk emails in a few simple clicks.</p>
                        <div class="links">
                            <a href="" class="a_btn__large btn_md">Get Started</a>
                            <div class="lnk__space"></div>
                            <a href="" class="a_btn_border_fff">Register</a>
                        </div>
                    </div>
                    <div class="display">
                        <video autoplay loop muted>
                            <source src="../static/video/globe.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </section>
            <section aria-labelledby="features" class="features">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#fff" fill-opacity="1"
                        d="M0,256L60,245.3C120,235,240,213,360,218.7C480,224,600,256,720,229.3C840,203,960,117,1080,96C1200,75,1320,117,1380,138.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                    </path>
                </svg>
                <h1 id="features">Features and benefits</h1>
                <div class="grid__features">
                    <div class="feature__card card__one">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-joystick"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>Simple control panel</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__card card__two">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-chronometer"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>Email scheduler</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__card card__three">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-files"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>Import emails from files</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__card card__four">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-aperture"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>OCR technology</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__card card__five">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-id-card"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>Email templates</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__card card__six">
                        <div class="card__wrap">
                            <div class="icon">
                                <div class="icon__wrapper">
                                    <i class="jam jam-folder-open"></i>
                                </div>
                            </div>
                            <div class="feature__content">
                                <h3>Contact storage</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nesciunt?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section aria-labelledby="pricing" class="pricing">
                <h1 id="pricing"> Pricing </h1>
                <div class="grid__features">
                    <div class="fee_card">
                        <h4>Free</h4>
                        <div class="fee">
                            <span>$0.00</span>
                            <s>$0.00</s>
                        </div>
                        <div class="plan">
                            <strong>montly</strong>
                        </div>
                        <div class="plan__features">
                            <ul>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fee_card">
                        <h4>starter</h4>
                        <div class="fee">
                            <span>$2.00</span>
                            <s>$4.00</s>
                        </div>
                        <div class="plan">
                            <strong>montly</strong>
                        </div>
                        <div class="plan__features">
                            <ul>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fee_card">
                        <h4>premium</h4>
                        <div class="fee">
                            <span>$4.00</span>
                            <s>$8.00</s>
                        </div>
                        <div class="plan">
                            <strong>montly</strong>
                        </div>
                        <div class="plan__features">
                            <ul>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                                <li>
                                    <i class="jam jam-check"></i>
                                    <span>Lorem, ipsum dolor.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="api">
                <div class="img__api">
                    <img src="../static/img/dev.jpg" alt="">
                </div>
                <div class="api__content">
                    <h2>Build applications using our API</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tempora minus assumenda totam
                        maiores dolorum porro voluptatum sapiente incidunt quisquam!
                    </p>
                </div>
            </section>

            <section class="about__section">
                <h1 id="about">About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatem. Magnam sapiente,
                    laudantium vitae dolorum recusandae, alias dignissimos omnis consectetur expedita dicta neque dolore
                    eum officia, quaerat enim. Atque tenetur labore laudantium, repudiandae, ipsa ipsum hic id esse
                    veritatis necessitatibus minus alias harum quaerat cum deleniti magnam sunt nisi. Facilis!
                </p>
            </section>
        </main>
        <footer>

            <nav class="footer__nav">
                <a href="">About us</a>
                <a href="">Contact us</a>
                <a href="">Pricing</a>
                <a href="">Api docs</a>
                <a href="">Blog</a>
                <a href="">Features</a>
            </nav>
            <nav class="social__nav">
                <a href=""><i class="jam jam-facebook"></i></a>
                <a href=""><i class="jam jam-twitter"></i></a>
                <a href=""><i class="jam jam-instagram"></i></a>
            </nav>
            <div class="copyright">
                <p>&copy; 2023, bulkcy. All rights reserved</p>
            </div>
        </footer>
    </div>
</body>

</html>