<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulkcy</title>
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="">
                    <img src="../static/img/logo.png" alt="logo">
                    <h2>Bulkcy</h2>
                </a>
            </div>
            <nav class="header__nav">
                <ul class="nav__listed">
                    <li><a href="#">home</a></li>
                    <li><a href="#">features</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
                <ul class="vibrant__call">
                    <li><a href="">Get Started</a></li>
                </ul>
            </nav>

            <nav class="mobile__nav">
                <div class="close__mob">
                    <i class="jam jam-close"></i>
                </div>
                <ul >
                    <li><a href="#">home</a></li>
                    <li><a href="#">features</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
                <ul class="call">
                    <li><a href="">Get Started</a></li>
                </ul>
            </nav>
            <div class="mobile_toggle">
                <i class="jam jam-menu"></i>
            </div>
        </header>
        <main>
            <section class="welcome">
                <div class="welcome-main">
                    <div class="business__content" aria-label="business_synopsis">
                        <h1 id="business_synopsis">Easily Manage and send bulk emails using bulkcy</h1>
                        <p>Use Bulkcy to easily manage, schedule, and send bulk emails. Bulkcy provides you with rich tools to organize and send bulk emails in a few simple clicks.</p>
                        <div class="links">
                            <a href="" class="a_btn__large btn_md">Get Started</a>
                            <div class="lnk__space"></div>
                            <a href="" class="a_btn_border_fff">Register</a>
                        </div>
                    </div>
                    <div class="display">
                        <video autoplay loop muted>
                            <source src="../static/video/globe.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#fff" fill-opacity="1"
                        d="M0,256L60,245.3C120,235,240,213,360,218.7C480,224,600,256,720,229.3C840,203,960,117,1080,96C1200,75,1320,117,1380,138.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                    </path>
                </svg>
            </section>
        </main>
        <footer>
        </footer>
    </div>
</body>

</html>