*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --bg-primary:#8973EF;
    --bg-pri-tint:#9284db;
    --bg-dark:#202124;
    --write-fff:#f5f5f5;
    --fade-write: #6c7a87;
    --dark-raise:#313232;
}

@font-face {
    font-family:"Cabin" ;
    src: url("./fonts/Cabin-Italic-VariableFont_wdth.ttf");
    font-style: italic;
}
@font-face {
    font-family:"Cabin" ;
    src: url("./fonts/Cabin-VariableFont_wdth");
}


html{
    font-family: "Cabin", "system-ui" , sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}


.container{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    width: 100%;
    height: 70px;
    padding: 0.5rem  1rem;
    background-color: var(--bg-dark);
    color: var(--write-fff);
    position: relative;
    z-index: 10;
}

.logo a, header, .header__nav, .nav__listed{
    display: flex;
    height: 100%;
}


.logo a{
    align-items: center;
}
.logo img{
    width: 45px;
}

.logo h2{
    margin-left: 0.5rem;
}


.header__nav{
    display: none;
}

.mobile_toggle{
    margin-left: auto;
}

.mobile__nav{
    width: 100%;
    position: absolute;
    background-color: #fff;
    color: var(--bg-dark);
    left: 0;
    bottom: 100%;
    padding: 1rem;
}

.mobile__nav >ul{
    list-style: none;
    margin-bottom: 1rem;
}

.mobile__nav li a{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}

.call a{
    font-weight: bold;
}

.close__mob{
    text-align: end;
}
.close__mob .jam{
    font-size: 2rem;
}   

.mobile__nav li a:hover{
    background-color: #ddd;
}

@media screen and (min-width:700px) {
    .header{
        padding: 0  2rem;
    }
    .header__nav{
        display: flex;
        margin-left: 3.5rem;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .mobile__nav{
        display: none;
    }

    .mobile_toggle{
        display: none;
    }
}

@media screen and (min-width:1000px) {
    header{
        padding: 1rem 4rem;
    }
}


.header__nav ul{
    list-style: none;
}


.header__nav a{
    font-weight: bold;
    text-transform: capitalize;
}

.nav__listed li{
    margin-right: 3.5rem;
}

.nav__listed li> a, .vibrant__call li >a{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vibrant__call{
    margin-left: auto;
}

.vibrant__call li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vibrant__call a{
    width: 120px;
    height: 40px;
    background-color: var(--bg-primary);
    border-radius: 5px;
}


.welcome{
        overflow: hidden;
        position: relative;
        background-color: var(--bg-dark);
        color: var(--write-fff);
        padding-top: 4rem;
}

.welcome-main{
    margin-bottom: 130px;
    padding: 2rem;
}

.display{
    display: none;
}


.business__content > *{
    margin-bottom: 0.7rem;
}

@media screen and (min-width:1000px) {
    .welcome-main{
        display: flex;
        padding: 0;
        margin-bottom: 200px;
    }
    #business_synopsis{
        font-size: 1.8rem;
    }
    .business__content{
        width: 60%;
        flex-basis: 60%;
        padding: 2rem 4rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }    
    .display{
        width: 40%;
        flex-basis: 40%;
        display: flex;
        align-items: center;
    }
    
    .display video{
        width: 100%;
        mix-blend-mode: lighten;
    }
}





.links{
    padding: 1.2rem 0;
}

.lnk__space{
    margin: 1rem 0.5rem;
}


.a_btn__large{
    display: block;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--bg-primary);
    text-align: center;
}

.a_btn__large:hover, .vibrant__call a:hover{
    background-color: var(--bg-pri-tint);
}



.a_btn_border_fff{
    display: block;
    padding: 0.6rem 2rem;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
}


@media screen and (min-width: 700px) {
    .links{
        display: flex;
    }
    .lnk__space{
        margin: 0 0.5rem;
    }    

    .btn_md{
        width: 220px;
    }
}



.features{
    position: relative;
}

.features svg{
    position: absolute; bottom:100% ; left: 0;
}

#pricing,  #features{
    padding: 4rem 1rem 3rem 1rem;
    text-align: center;
    font-size: 2rem;
}


.grid__features{
    display:flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: center;
}

.feature__card,.fee_card{
    min-height: 180px;
    padding: 1rem 0rem;
}

.feature__content h3{
    margin-bottom: 0.3rem;
    text-transform: capitalize;
}
.feature__content p{
    color: var(--fade-write);
    font-weight: 500;
}
.card__wrap{
    display: flex;
    border: 1px solid #dcdfe2;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 6px;
    padding: 1rem;
}

.card__wrap:hover{
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

.icon{
    padding: 1rem ;
}

.icon__wrapper{
    border-radius: 50%;
    padding: 1.1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__one .icon__wrapper{
    background-color: #f93542;
    box-shadow: 0px 14px 30px 0px rgba(249, 53, 66,0.4);
}

.card__two .icon__wrapper{
    background-color: #50b5ff;
    box-shadow: 0px 14px 30px 0px rgba(80, 181, 255, 0.4);
}

.card__three .icon__wrapper{
    background-color: #31d1ab;
    box-shadow: 0px 14px 30px 0px rgba(49, 209, 171, 0.4);
}
.card__four .icon__wrapper{
    background-color: rgba(45, 0, 247,1);
    box-shadow: 0px 14px 30px 0px rgba(45, 0, 247, 0.4);
}

.card__five .icon__wrapper{
    background-color: rgba(255, 159, 28, 1);
    box-shadow: 0px 14px 30px 0px rgba(255, 159, 28, 0.4);
    
}

.card__six .icon__wrapper{
    background-color: #f93542;
    box-shadow: 0px 14px 30px 0px rgba(249, 53, 66,0.4);
}

.icon__wrapper i{
    font-size: 1.5rem;
    color: var(--write-fff);
}


@media screen and (min-width:1000px) {
    #pricing,  #features{
        padding: 3rem 4rem 3rem 4rem;
        font-size: 2.4rem;
    }
    .grid__features{
        padding: 0rem 4rem;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .feature__card, .fee_card{
        flex-basis: 33.3%;
        padding:  1rem;
    }
}


.jam{
    font-size: 3rem;
}

.pricing{
    margin-top: 4rem;
    background-color: var(--bg-dark);
    color: var(--write-fff);
    padding-bottom: 4rem;
}


.fee_card{
    height: 400px;
    flex-basis: 90%;
    width: 90%;
    background-color: var(--dark-raise);
    margin-bottom: 2rem;
    border-radius: 8px;
    justify-content: center;
}

.fee_card > *{
    margin: 0.5rem 0;
}

.fee_card > h4{
    text-transform: capitalize;
    text-align: center;
}
.fee span,.fee s{
    display: block;
    text-align: center;
}
.fee span{
    font-size: 2rem;
    font-weight: bold;
}

.fee span::first-letter{
    font-size: 2.3rem;
    font-style: italic;
    color: var(--bg-primary);
    margin-right: 0.25rem;
}

.plan{
    text-align: center;
}

.plan__features ul{
    list-style: none;
    padding: 1rem;
}

.plan__features li{
    margin: 1rem 0;
}

.plan__features i{
    font-size: 1.2rem;
    color: var(--bg-primary);
    margin-right: 0.5rem;
}



@media screen and (min-width:700px) {
    .fee_card{
        flex-basis: 50%;
        width: 50%;
    }

}
@media screen and (min-width:1000px) {
    .fee_card{
        margin-right: 1rem;
        margin-bottom: 0;
        flex-basis: calc(33% - 2rem);
    }
    
}

.api{
    padding: 5rem 0;
    display: flex;
}


.img__api{
    display: none;
}

.api__content{
    padding: 1rem 3rem;
}

.api__content{
    text-align: center;
}



@media screen and (min-width:1000px) {
    .img__api, .api__content{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .api__content{
        flex-direction: column;
        padding: 1rem 3rem;
    }
}

.about__section{
    padding: 1rem 4rem;
}
.about__section h1{
    font-size: 2rem;
    padding: 0.9rem 0;
    text-align: center;
}

.about__section p{
    text-align: center;
}


@media screen and (min-width:1000px) {
    .about__section p{
        padding: 0 3rem;
    }
}


footer{
    color: var(--write-fff);
    background-color: var(--bg-dark);
    margin-top: 4rem;
    padding: 4rem 1rem 1rem 1rem;
}

.footer__nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer__nav a{
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.social__nav{
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
}
.social__nav a{
    margin-right: 1rem;
}
.social__nav i{
    font-size: 1.5rem;
}

.copyright{
    text-align: center;
    padding-top: 1rem;
}
@media screen and (min-width:1000px) {
    footer{
        padding: 4rem 4rem 1rem 4rem ;
    }
    .footer__nav a{
        margin-right: 3rem;
    }
}
